.navbar-inverse .navbar-brand {
	font-family: 'Niconne', cursive;
	color: #FFF;
	font-size: 2.3em;
	cursor: default;
}

button:disabled {
	color: #823333;
	background-color: #E3E3E3;
}

.game-container {
	width: 800px;
	height: 800px;
	margin: 100px auto 0;
	border: 1px solid;
}