.navbar-inverse .navbar-brand {
	font-family: 'Niconne', cursive;
	color: #FFF;
	font-size: 2.3em;
	cursor: default;
}

button:disabled {
	color: #823333;
	background-color: #E3E3E3;
}

.announce-bar {
	width: 800px;
	min-height: 50px;
	margin: 60px auto 0;
	border: 1px solid;
	border-bottom: none;
	text-align: center;
}

.game-container {
	width: 800px;
	height: 800px;
	margin: 0 auto;
	border: 1px solid;
	overflow: hidden;
}

.card-holder, .common-card-holder {
	height: 266px;
	text-align: center;
}

.card-holder.north { border-bottom: 1px solid; }
.card-holder.south { border-top: 1px solid; }
.card-holder.east { border-left: 1px solid; }
.card-holder.west { border-right: 1px solid; }

.announce-bar p.page-desc{
	font-family: 'Niconne', cursive;
	font-size: 2.4em;
	color: #4C4C4C;
	text-align: center;
}

.play-options {
	width: 800px;
	min-height: 600px;
	margin: -10px auto;
	border: 1px solid #000;
}

.playOpt {
	height: 100px;
	width: 32.5%;
	float: left;
	margin: 3px;
	border: 1px solid #a8a8a8;
	text-align: center;
    line-height: 100px;
    background-color: #DEDEDE;
}

.playOpt:hover {
	background-color: #a8a8a8;
	box-shadow: 0 0 2px #bbb;
}

div.room {
	width: 300px;
	height: 100px;
	line-height: 100px;
	border: 1px solid #000;
	text-align: center;
	margin: 20px auto;
}

div.inputs {
	margin: 30px;
}

div.card-holder[hahaha="HAHAHAHA"] {
	background-color: #FF0000;
}